In [1]:
import pandas as pd

In [2]:
#adding our dictionaries to our program
data = [{'product_id': 23, 'name':'computer','wholesale_price':500, 'retail_price':1000,'sales':100},
        {'product_id': 96, 'name':'Python Workout','wholesale_price':35, 'retail_price':75,'sales':1000},
        {'product_id': 97, 'name':'Pandas Workout','wholesale_price':35, 'retail_price':75,'sales':500},
        {'product_id': 15, 'name':'banana','wholesale_price':0.5,'retail_price':1,'sales':200},
        {'product_id': 87, 'name':'sandwich','wholesale_price':3,'retail_price':5,'sales':300}]

In [3]:
#initializing our dictionaries into a dataframe

df =pd.DataFrame(data)

In [4]:
#this prints out our dataframe
df

   product_id            name  wholesale_price  retail_price  sales
0          23        computer            500.0          1000    100
1          96  Python Workout             35.0            75   1000
2          97  Pandas Workout             35.0            75    500
3          15          banana              0.5             1    200
4          87        sandwich              3.0             5    300

In [5]:
#calculating the net revenue per product

df['net_revenue_per_product']= (df['retail_price']-df['wholesale_price'])* df['sales']

In [6]:
df

,product_id,name,wholesale_price,retail_price,sales,net_revenue_per_product
0,23,computer,500.0,1000,100,50000.0
1,96,Python Workout,35.0,75,1000,40000.0
2,97,Pandas Workout,35.0,75,500,20000.0
3,15,banana,0.5,1,200,100.0
4,87,sandwich,3.0,5,300,600.0

In [7]:
#calculating total revenue

Total_Revenue =(sum(df['net_revenue_per_product']))
print(f"Total Net Revenue Received is {Total_Revenue:.2f}")

Total Net Revenue Received is 110700.00

In [15]:
#bringing out specific rows using a condition

df.loc[(df['retail_price'] > df['wholesale_price']*2)]

,product_id,name,wholesale_price,retail_price,sales,net_revenue_per_product,new_wholesale_price,new_net_revenue_per_product
1,96,Python Workout,35.0,75,1000,40000.0,24.5,50500.0
2,97,Pandas Workout,35.0,75,500,20000.0,24.5,25250.0

In [9]:
#aggregating specific cells in the table using their indices 

Revenue_from_food=(sum(df.iloc[[3,4]]['net_revenue_per_product']))
Revenue_from_computer= (df.iloc[0]['net_revenue_per_product'])
Revenue_from_books=(sum(df.iloc[[1,2]]['net_revenue_per_product']))

In [10]:
#printing out the result of the above aggregation

print(f"Revenue from food ={Revenue_from_food:.2f}")
print(f"Revenue from Computers ={Revenue_from_computer:.2f}")
print(f"Revenue from food ={Revenue_from_books:.2f}")

Revenue from food =700.00
Revenue from Computers =50000.00
Revenue from food =60000.00

In [11]:
#calculating a new whole sale price

df['new_wholesale_price']= df['wholesale_price'] - 0.3* df['wholesale_price']

In [12]:
#calculating a new net revenue per product

df['new_net_revenue_per_product']= (df['retail_price']-df['new_wholesale_price'])* df['sales']

In [13]:
df

,product_id,name,wholesale_price,retail_price,sales,net_revenue_per_product,new_wholesale_price,new_net_revenue_per_product
0,23,computer,500.0,1000,100,50000.0,350.00,65000.0
1,96,Python Workout,35.0,75,1000,40000.0,24.50,50500.0
2,97,Pandas Workout,35.0,75,500,20000.0,24.50,25250.0
3,15,banana,0.5,1,200,100.0,0.35,130.0
4,87,sandwich,3.0,5,300,600.0,2.10,870.0